/* GLOBAL STYLES */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  width: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  color: #555;
}

a {
  text-decoration: none;
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

/* HEADER AND NAVIGATION */
.header {
  padding: 3.2rem 0;
  display: flex;
  justify-content: center; 
  align-items: center; 
  background-color: rgb(236, 239, 241);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%; 
  max-width: 120rem;
}

.nav-list {
  list-style: none;
  display: flex;
  align-items: center;
}

.nav-list-item {
  font-size: 1.2rem;
}

.nav-list-item:not(:last-child) {
  margin-right: 4rem;
}

.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger .bar {
  width: 2.5rem;
  height: 0.3rem;
  background-color: #505F98;
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}

.btn:link,
.btn:visited {
  border: none;  
  padding: 0.6rem 4.2rem;
  color: #fff;
  font-size:1.2rem;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.btn--buy:link,
.btn--buy:visited {
  background-color: #111B47; 
  margin-right:auto;
}

.btn--buy:hover,
.btn--buy:active {
  background-color: #505F98;
}

.main-nav-link:link,
.main-nav-link:visited{
  display: inline-block;
  color: #505F98;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active{
  display: inline-block;
  color: #111B47;
}

/* HERO SECTION */
.hero-section{
  padding: 9.6rem 0 9.6rem 6.4rem;
  background-color: rgb(236, 239, 241);
}

.hero-section-desc{
  max-width: 40rem;
  margin-bottom:5rem;
}

.heading-primary {
  font-size: 3.2rem;
  line-height: 1.2;  
  margin-bottom: 1rem;
  letter-spacing: 0.1rem;  
  color: #091133;
}

.hero-text{
  font-size: 1.2rem;
  color: #505F98;
  line-height: 1.6;
  letter-spacing: 0.02rem;
}

.flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 130rem;
  margin: 0 auto;
}

.hero-img{
  width: 60rem;
}

.btn-container {
  display: flex;
  gap: 1rem;
}

.btn--1:link,
.btn--1:visited {
  background-color: #111B47; 
}

.btn--1:hover,
.btn--1:active {
  background-color: #505F98;
}

.btn--2:link,
.btn--2:visited {
  border: 0.1rem #111B47 solid;  
  color: #111B47;
}

.btn--2:hover,
.btn--2:active {
  background-color: #111B47;
  color: #fff;
  box-shadow: inset 0 0 0 3px #fff;
}


/* GOES SECTION */
.goes-section{
  padding: 4.8rem 0;
}
.goes-img{
  width:40rem;
}

.heading-secondary {
  font-size:2.2rem;
  color: #091133;
  margin-bottom: 0.6rem;
}

.primar-container {
  max-width:55rem;
  margin-bottom:5rem;
}

.icon-palette{
 font-size: 2.4rem;
}

.first-container{
  margin-right:2rem;
}

.goes-text,
.description-text {
  font-size: 1.1rem;
  color: #505F98;
  line-height: 2;
  letter-spacing: 0.02rem;
  font-weight: 100;
}

.heading-tetriary {
  font-size: 1.2rem;
  color: #091133;
  margin-bottom: 0.6rem;
}

.goes--text{
  color: #5D6970;
}

.first-container,
.second-container{
  max-width:25rem;
  font-weight: 100;
}

/* DESCRIPTION CONTAINER */

.description-section{
  padding: 9.6rem 0;
}

.margin-bottom{
  margin-bottom: 2rem;
}

.description-img{
  width:35rem;
}

.description-text-container{
  max-width: 30rem;
}

.flex-container--around{
  display:flex;
  justify-content: space-around;
  align-items: center;
}

/* Price Container */
.price-section {
  padding: 9.6rem 0;
  background-color: #f1f3fa;
  border-radius: 30% 20% 0 0;
}


.price-container{
  text-align: center;
}

.center{
  max-width: 40rem;
  margin: 0 auto;
  margin-bottom: 2.6rem;
}


.price{
  font-size: 3.2rem;
  color: #222F65;
}

.price-description{
  font-size:1.2rem;
  color: #37447E;
  font-weight: 400;
}

.purchase-description {
  color: #5D6970;
  font-weight: 100;
  letter-spacing: 0.03rem;
  margin-bottom:0.5rem;
}

.btn--purchase{
 background-color: #111B47; 
 border: none;  
 padding: 0.6rem 4.2rem;
 color: #fff;
 font-size:1.2rem;
 font-weight: 500;
 cursor: pointer;
 transition: all 0.3s;
}

.btn:hover{
  background-color: #505F98;
}

/* FOOTER*/
.footer {
  background-color: #E7ECFF;
  padding: 4rem 0;
}

.number {
  display: flex;
  justify-content: space-between;
  padding: 4.2rem 0;
  border-bottom: 0.2rem solid #f1f3fa;
}

.copyright, .phone {
  font-size: 1rem;
  color: #37447E;
}

.phone {
  color: #37447E;
}

.soc-media {
  display: flex;
  justify-content: space-between;
  padding: 4.2rem 0;
}

.footer-list {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.main-nav-link {
  font-size: 1rem;
  color: #37447E;
  text-decoration: none;
}

.main-nav-link:hover {
  text-decoration: underline;
}

.soc-media-icons {
  display: flex;
  gap: 1.5rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  padding: 0;
  margin: 0;
}

.social-icon {
  font-size: 2rem;
  color: #37447E;
}

.social-icon:hover {
  color: #2C365E;
}

/* RESPONSIVE */

@media(max-width:85em){
  .flex-container, .flex-container--around {
    max-width: 110rem;
  }

  .nav{
      max-width: 80rem;
  }

  .number,
  .soc-media{
      justify-content: space-around;
  }

  .footer-list {
      gap: 1.5rem;
  }
}

@media(max-width:61em){
  html {
      font-size: 50%;
  }

  .heading-secondary{
      text-align: center;
  }

  .flex-container {
      flex-direction: column;
      margin: 0;
      justify-content: center;
      align-items: center;
    }

    .flex-container--margin{
      margin-bottom: 3rem;
    }

   .first-container{
      margin: 0;
      margin-bottom:1rem;
   }

    .hero-section{
      padding: 2rem;
    }

  .hero-section-desc{
      max-width: 65rem;
      text-align: center;
  }

  .left-side{
      margin-bottom: 5rem;
  }

  .btn-container {
      display: flex;
      gap: 1rem;
     justify-content: center;
  }
}

@media(max-width:48em){
  .flex-container--around {
      flex-direction: column;
      margin: 0;
      margin-bottom: 4.2rem;
      justify-content: center;
      align-items: center;
    }

    .flex--item-1 {
      order:2;
    }

    .flex--item-2 {
      order:1;
    }

    /* MOBILE NAVIGATION */

    .nav {
      flex-direction: column;
      align-items: flex-start;
    }
  
  
    .hamburger {
      display: flex;
    }
  
    .nav-list {
      display: none;
    }
  
    .nav-list-item {
      background-color: rgb(236, 239, 241);
      padding: 1.2rem;
      border-bottom: 1px solid #ccc;
    }
  
    .nav-list-item:last-child {
      border-bottom: none;
    }
  
    .hamburger {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
  
    .hamburger.active .bar:nth-child(1) {
      transform: rotate(45deg);
      transform-origin: 0% 0%;
    }
  
    .hamburger.active .bar:nth-child(2) {
      opacity: 0;
    }
  
    .hamburger.active .bar:nth-child(3) {
      transform: rotate(-45deg);
      transform-origin: 0% 100%;
    }
  
    .nav-list.active {
      display: block;
    }


    .soc-media-nav-container {
      margin-bottom:2rem;
    }
    .number {
      flex-direction: column;
      gap: 1rem;
      text-align: center;
  }

  .footer-list {
      flex-direction: column;
      align-items: center;
      text-align: center;
  }

  .soc-media {
      flex-direction: column;
      align-items: center;
      margin-top: 2rem;
      padding: 2rem 0;
  }

  .social-links {
      flex-direction: row;
      justify-content: center;
  }
} 

@media(max-width:30em){
  html {
      font-size: 45%;
  }
  .hero-img{
      width:35rem;
  }
  .goes-img,
  .description-img{
      width:30rem;
  }
  
  .description-img-container{
      margin-bottom:3rem;
      
  }

  .footer {
      padding: 2rem 0;
  }

  .footer-list {
      font-size: 0.9rem;
  }

  .social-icon {
      font-size: 1.8rem;
  }
}


/**************************/
/* Fixing Safari flexbox gap */
/**************************/

.no-flexbox-gap .main-nav-list li:not(:last-child) {
  margin-right: 4.8rem;
}

.no-flexbox-gap .list-item:not(:last-child) {
  margin-bottom: 1.6rem;
}

.no-flexbox-gap .list-icon:not(:last-child) {
  margin-right: 1.6rem;
}

.no-flexbox-gap .delivered-faces {
  margin-right: 1.6rem;
}

.no-flexbox-gap .meal-attribute:not(:last-child) {
  margin-bottom: 2rem;
}

.no-flexbox-gap .meal-icon {
  margin-right: 1.6rem;
}

.no-flexbox-gap .footer-row div:not(:last-child) {
  margin-right: 6.4rem;
}

.no-flexbox-gap .social-links li:not(:last-child) {
  margin-right: 2.4rem;
}

.no-flexbox-gap .footer-nav li:not(:last-child) {
  margin-bottom: 2.4rem;
}

@media (max-width: 75em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 3.2rem;
  }
}

@media (max-width: 59em) {
  .no-flexbox-gap .main-nav-list li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4.8rem;
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}